files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_github_ssh.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo aws s3 cp s3://hv-ebs-github/ebs_rsa /root/.ssh/ebs_rsa
      sudo chmod 600 /root/.ssh/ebs_rsa
      # sudo ssh-keyscan -t rsa github.com >> /root/.ssh/known_hosts
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R nodejs:nodejs /tmp/.npm/
  "/root/.ssh/config":
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
        IdentityFile /root/.ssh/ebs_rsa
        IdentitiesOnly yes
        UserKnownHostsFile=/dev/null
        StrictHostKeyChecking no
