commands:
  00_copy_rsa_key_from_aws:
    command: sudo aws s3 cp s3://hv-ebs-github/ebs_rsa /root/.ssh/ebs_rsa
  01_chmod_rsa_key:
    command: sudo chmod 600 /root/.ssh/ebs_rsa
  02_add_github_to_known_hosts:
    command: sudo ssh-keyscan -t rsa github.com >> /root/.ssh/known_hosts
#  03_enter_su:
#    command: sudo su
#  04_start_ssh_agent:
#    command: eval `ssh-agent -s`
#  05_add_ssh_key_to_agent:
#    command: ssh-add /root/.ssh/ebs_rsa
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R nodejs:nodejs /tmp/.npm
  "/root/.ssh/config": 
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
        User git
        Hostname github.com
        IdentityFile /root/.ssh/ebs_rsa
